#root {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", "Noto", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  text-transform: none !important;
}